doctype html5
html(lang='en')
    head
        title Nalgene
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/app.css')

    body
        #app

        script(src="/socket.io/socket.io.js")
        script(src='/js/app.js')

